@import "variables";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

$font-family-sans-serif: "ttnorms-regular", sans-serif;

//Link color
$link-color: $colorLinkWhite !default;
$link-decoration: none !default;

//Margin bot
$paragraph-margin-bottom: 0rem !default;
$form-label-margin-bottom: 0rem !default;
$breadcrumb-margin-bottom: 0rem !default;

//Color
$Main: #323264 !default;
$MainAlt: #46466e !default;
$MainSoft: #686887 !default;
$colorWhite: #ffffff !default;

$AccentRed: #f0145a !default;
$Active: #24a3ff !default;
$ActiveHover: #0085ff !default;
$ActiveActive: #006ccf !default;

$backgroundWhite: #ffffff !default;
$BgGrey: #f5f5fa !default;
$BgGreyAlt: #ededf7 !default;
$TextGrey: #b3b3ba !default;
$SeparatorGrey: #e6e6f0 !default;

//Gradient
$GradientHeaderBottom: linear-gradient(
  180deg,
  rgba(50, 50, 100, 0) 16.67%,
  #323264 100%
) !default;
$Gradinet: linear-gradient(
  128.63deg,
  #323264 0%,
  #323264 73.96%,
  #a54b5f 100%
) !default;
$GradientSoft: linear-gradient(
  42.01deg,
  #323264 14.33%,
  #323264 51.39%,
  #7a425e 87.53%
) !default;
$GradientRed: linear-gradient(
  121.42deg,
  #f0145a 30.65%,
  #693264 107.33%
) !default;
$GradientSupersoft: linear-gradient(
  228.57deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
) !default;
$GradientRedText: linear-gradient(
  90.13deg,
  #f0145a 0.84%,
  #ef8080 99.96%
) !default;
$LinearGradient: linear-gradient(
  180deg,
  rgba(245, 245, 250, 0) 0%,
  #f5f5fa 86.5%
);

//Font size
$font-size-base: 1rem !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.125 !default;

// $blue: #0d6efd !default;
// $indigo: #6610f2 !default;
// $purple: #6f42c1 !default;
// $pink: #d63384 !default;
// $red: #dc3545 !default;
// $orange: #fd7e14 !default;
// $yellow: #ffe600 !default;
// $green: #198754 !default;
// $teal: #20c997 !default;
// $cyan: #0dcaf0 !default;

// $colors: (
//   "blue": $blue,
//   "cyan": $cyan,
// ) !default;

// $spacer: 1rem !default;
// $spacers: (
//   0: 0,
//   1: $spacer / 1.75,
//   2: $spacer / 2,
//   3: $spacer,
//   4: $spacer * 1.5,
//   5: $spacer * 3,
//   6: $spacer * 1.25,
// ) !default;
// $info: $cyan !default;
// $font-family-sans-serif: "Oswald", sans-serif;
// $font-size-base: 1rem;
// $font-size-sm: 0.75rem;
// $font-size-lg: 0.9375rem;
// $line-height-base: 1.56;
// $h1-font-size: $font-size-base * 4 !default;
// $btn-padding-x-lg: 56px;
// $btn-padding-y-lg: 16.5px;

// $primary: $yellow !default;
// $link-color: $info !default;

// $btn-border-radius-lg: 0;
// $btn-font-weight: 500;
