@import "variables";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

$font-family-sans-serif: "ttnorms-regular", sans-serif;

//Font size
$font-size-base: 1.125rem;
$line-height-base: 1.44;

$font-size-sm: 1rem;
$line-height-sm: 1.375;

$font-size-lg: 1.3125rem;
$line-height-lg: 1.428;

$h1-font-size: 2.625rem;
$h2-font-size: 2.625rem;

$headings-margin-bottom: 20px;
$headings-line-height: 1.18em;

//Link color

$link-color: $Active !default;
$link-decoration: none !default;
$link-hover-color: $ActiveHover !default;

//Margin bot
$paragraph-margin-bottom: 0rem !default;
$form-label-margin-bottom: 0rem !default;
$breadcrumb-margin-bottom: 0rem !default;

//Gradient
$GradientHeaderBottom: linear-gradient(
  180deg,
  rgba(50, 50, 100, 0) 16.67%,
  #323264 100%
) !default;
$Gradinet: linear-gradient(
  218.63deg,
  #323264 0%,
  #323264 73.96%,
  #a54b5f 100%
) !default;
$GradientSoft: linear-gradient(
  42.01deg,
  #323264 14.33%,
  #323264 51.39%,
  #7a425e 87.53%
) !default;
$GradientRed: linear-gradient(
  121.42deg,
  #f0145a 30.65%,
  #693264 107.33%
) !default;
$GradientSupersoft: linear-gradient(
  228.57deg,
  #323264 11.93%,
  #323264 57.17%,
  #643e72 87.46%
) !default;
$GradientRedText: linear-gradient(
  90.13deg,
  #f0145a 0.84%,
  #ef8080 99.96%
) !default;
$LinearGradient: linear-gradient(
  180deg,
  rgba(245, 245, 250, 0) 0%,
  #f5f5fa 86.5%
);
