@mixin textHeaderGradient($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $GradientRedText;
  font-family: "TT Norms", sans-serif;
}
@mixin textRegular($fs, $lh, $color) {
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
}
@mixin textMedium($fs, $lh, $color) {
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "TT Norms", sans-serif;
  font-weight: 500;
}
@mixin textBold($fs, $lh, $color) {
  font-size: $fs;
  line-height: $lh;
  color: $color;
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
}
@mixin linkRegular($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
}
@mixin linkMedium($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  font-family: "TT Norms", sans-serif;
  font-weight: 500;
}
@mixin linkBold($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  font-family: "TT Norms", sans-serif;
  font-weight: 600;
}
@mixin LinkActive($fs, $lh) {
  font-size: $fs;
  line-height: $lh;
  color: $Active;
  font-family: "TT Norms", sans-serif;
}
@mixin textMainBolt {
  color: $Main;
  line-height: 19px;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
}
