@mixin Paragraph($fw) {
  font-weight: $fw;
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms", sans-serif;
}
@mixin UnorederedList($fw) {
  font-weight: $fw;
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms", sans-serif;
}
@mixin Orderedlist($fw) {
  font-weight: $fw;
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms", sans-serif;
}
@mixin LinkRegular {
  font-size: 16px;
  line-height: 20px;
  color: $Active;
  font-family: "TT Norms", sans-serif;
}
@mixin LinkHover {
  font-size: 16px;
  line-height: 20px;
  color: $AccentRed;
  font-family: "TT Norms", sans-serif;
}
@mixin textMainBolt {
  color: $Main;
  font-weight: 600;
  font-family: "TT Norms", sans-serif;
}
