// Main
.main-wrapper {
  background: $Gradinet;
  border-radius: 0px 0px 12px 12px;
  position: relative;
  &:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    background: $backgroundmischka;
    border-radius: 0px 0px 12px 12px;
    content: "";
  }
  &:after {
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: calc(100% - 80px);
    background: $backgroundWhisper;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    content: "";
  }
}
.main-container-primary {
  margin-bottom: 45px;
  padding-top: 40px;
  @include media(">=992px") {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  .main-list {
    list-style: none;
    li {
      @include media(">=992px") {
        display: flex;
        justify-content: flex-end;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:last-child {
        display: none;
        @include media(">=992px") {
          display: flex;
        }
      }
    }

    a {
      @include linkBold(14px, 17px);
      color: $TextGrey;
      display: inline-block;
      padding: 10px 40px 10px 0;
      text-transform: uppercase;
      @include media(">=992px") {
        @include linkBold(42px, 50px);
        border-right: 4px solid $SeparatorGrey;
        text-align: right;
        text-transform: none;
      }
      &:hover {
        @include textSectionGradientHover;
        border-color: $backgroundAccentRed;
      }
      &.active {
        border-color: $backgroundAccentRed;
        @include textSectionGradientHover;
      }
    }
  }
  .main-info {
    @include media(">=992px") {
      padding: 0 0 0 40px;
      height: 310px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    h2 {
      @include textRegular(22px, 26px, $colorWhite);
      margin-bottom: 15px;
      @include media(">=992px") {
        @include textRegular(32px, 38px, $colorWhite);
        margin-bottom: 20px;
      }
    }
    p {
      @include textRegular(18px, 26px, $colorWhite);
      @include media(">=992px") {
        @include textRegular(21px, 30px, $colorWhite);
      }
    }
    span {
      display: block;
      a {
        background: $backgroundActive;
        opacity: 0.2;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        margin: 20px 7px 0;
        display: inline-block;
        &.active {
          opacity: inherit;
        }
      }
      @include media(">=992px") {
        display: none;
      }
    }
  }
}
.main-container-secondary {
  margin-bottom: 20px;
  @include media(">=992px") {
    margin-bottom: 40px;
  }
  .main-container-link {
    color: $colorWhite;
    opacity: 0.5;
    position: relative;
  }
  .main-container-link::after {
    content: "";
    background: url("../images/sprite/sprite.svg#liink-arrow-grey") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 3px);
    left: 68px;
  }
  h1 {
    @include textHeaderGradient(32px, 38px);
    margin-bottom: 20px;
    @include media(">=992px") {
      @include textHeaderGradient(42px, 50px);
      margin-bottom: 68px;
    }
  }
  .main-link-text {
    padding-bottom: 60px;

    @include media(">=992px") {
      padding-top: 112px;
      padding-bottom: 100px;
    }
    a {
      margin: auto;
      position: relative;
      margin-bottom: 10px;
      @include LinkActive(18px, 21px);
      height: 64px;
      padding-left: 74px;
      display: flex;
      align-items: center;
      @include media(">=992px") {
        @include LinkActive(24px, 28px);
        height: auto;
        padding-left: 0;
        margin-bottom: 15px;
      }
    }

    a:after {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      background-color: $backgroundWhite;
      border-radius: 24px;
      top: 0;
      left: 0;
      @include media(">=992px") {
        width: 92px;
        height: 92px;
        top: -112px;
      }
    }
    a:before {
      content: "";
      position: absolute;
      background-size: cover;
      width: 44px;
      height: 44px;
      top: 11px;
      left: 9px;
      z-index: 3;
      @include media(">=992px") {
        width: 64px;
        height: 64px;
        top: -100px;
        left: 14px;
      }
    }
    .iconfinder-1::before {
      background: url("../images/sprite/sprite.svg#iconfinder-1") no-repeat;
    }
    .iconfinder-2::before {
      background: url("../images/sprite/sprite.svg#iconfinder-2") no-repeat;
    }
    .iconfinder-3::before {
      background: url("../images/sprite/sprite.svg#iconfinder-3") no-repeat;
    }
    .iconfinder-4::before {
      background: url("../images/sprite/sprite.svg#iconfinder-4") no-repeat;
    }
    .iconfinder-5::before {
      background: url("../images/sprite/sprite.svg#iconfinder-5") no-repeat;
    }
    .iconfinder-6::before {
      background: url("../images/sprite/sprite.svg#iconfinder-6") no-repeat;
      top: 9px;
      @include media(">=992px") {
        top: -93px;
        left: 21px;
      }
    }
    a:hover {
      color: $ActiveHover;
    }
    p {
      @include textRegular(16px, 22px, $colorWhite);
      @include media(">=992px") {
        @include textRegular(18px, 26px, $colorWhite);
      }
    }
  }
}
// End main

// Section
.gallery-wrapper {
  margin-bottom: 50px;
  @include media(">=992px") {
    margin: 0 60px 55px;
  }
  .splide__arrow {
    display: none;
  }
  .splide__pagination__page {
    background: $Active;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 9px;
    border: none;
  }
  .splide__pagination {
    padding: 0;
  }
  .splide__pagination__page.is-active {
    background: $ActiveActive;
  }
  .splide__pagination__page:hover {
    cursor: pointer;
  }
}
.carousel-content {
  background: $BgGrey;
  border-radius: 12px;
  @include media(">=992px") {
    display: flex;
    align-items: flex-start;
  }

  img {
    flex-shrink: 0;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    @include media(">=992px") {
      flex-shrink: 1;
      border-radius: 12px 0px 0px 12px;
      width: 100%;
      height: 100%;
      position: static;
      margin-right: 0px;
    }
  }
  .carousel-text {
    @include media(">=992px") {
      margin: 40px 0 0 40px;
    }
    h3 {
      @include textHeaderGradient(32px, 38px);
      margin-bottom: 20px;
      @include media(">=992px") {
        @include textHeaderGradient(38px, 46px);
      }
      @include media(">=1140px") {
        @include textHeaderGradient(42px, 50px);
      }
    }
    h4 {
      margin-bottom: 5px;
      @include textRegular(18px, 21px, $TextGrey);
      padding-left: 80px;
      @include media(">=992px") {
        padding-left: 0px;
      }
    }
    p {
      padding-left: 80px;
      padding-bottom: 5px;
      @include textRegular(16px, 22px, $TextGrey);
      @include media(">=992px") {
        padding-left: 0px;
      }
    }
  }
}
.section-successful-cases {
  margin-bottom: 36px;
  .section-text {
    background: $BgGrey;
    border-radius: 12px;
    .section-link {
      a {
        text-transform: uppercase;
        display: inline-block;
        @include linkBold(14px, 17px);
        color: $AccentRed;
        margin-bottom: 68px;
        @include media(">=992px") {
          margin-bottom: 68px;
        }
      }
    }
    p {
      @include textRegular(18px, 21px, $MainSoft);
      margin-bottom: 10px;
      @include media(">=992px") {
        @include textRegular(24px, 28px, $MainSoft);
        margin-bottom: 20px;
      }
    }
    a {
      display: inline-block;
      @include linkRegular(18px, 26px);
      color: $TextGrey;
      margin-bottom: 41px;
      @include media(">=992px") {
        margin-bottom: 40px;
      }
    }
  }
}
// End section

// Clients
.clients-wrapper {
  .client-head {
    height: 50px;
  }
  h3 {
    @include textBold(14px, 17px, $Main);
    text-transform: uppercase;
  }
  .img-client {
    width: 100%;
    height: 100%;
  }
}
// End clients

// Article
.article-wrapper {
  padding-top: 40px;
  background: $BgGrey;
  h3 {
    background: $colorWhite;
    @include textHeaderGradient(32px, 38px);
    margin-bottom: 40px;
    @include media(">=992px") {
      @include textHeaderGradient(42px, 50px);
    }
  }
}
.public-all {
  display: inline-block;
  @include linkBold(14px, 17px);
  letter-spacing: 1px;
  color: $Active;
  position: relative;
  text-transform: uppercase;
  &::after {
    background: url("../images/sprite/sprite.svg#liink-arrow");
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    right: -13px;
  }
}
.public-all:hover {
  color: $ActiveHover;
}
.article-publications {
  max-width: 1320px;
  position: relative;
  &:after {
    background: $LinearGradient;
    content: "";
    position: absolute;
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
  }
  .publications-section {
    flex-wrap: nowrap;
    @include media(">=992px") {
      margin-left: 40px;
      &:first-child {
        margin-left: 0;
      }
    }
    div {
      @include media(">=992px") {
        margin-bottom: 40px;
        max-width: 413px;
      }
    }

    img {
      padding: 0;
      display: block;
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      @include media(">=576px") {
        margin: auto;
        width: auto;
      }
      @include media(">=992px") {
        width: 100%;
      }
    }
    a {
      padding-top: 20px;
      display: block;
      @include LinkActive(18px, 21px);
      margin: 0 20px 10px;
      text-align: left;
      @include media(">=576px") {
        text-align: center;
      }
      @include media(">=992px") {
        text-align: left;
      }
    }
    a:hover {
      color: $ActiveHover;
    }
    time {
      margin: 0 20px 20px;
      display: block;
      @include textRegular(12px, 14px, $TextGrey);
      letter-spacing: 1px;

      text-transform: uppercase;
      text-align: left;
      @include media(">=576px") {
        text-align: center;
      }
      @include media(">=992px") {
        text-align: left;
      }
    }
    p {
      display: none;
      @include media(">=992px") {
        display: block;
        // width: 100%;
        padding-top: 20px;
        border-top: 4px solid $SeparatorGrey;
        margin: 0 20px;
      }
      .external-reference {
        display: inline;
        @include textRegular(16px, 22px, $colorBlack);
      }
      .external-reference:hover {
        color: $ActiveHover;
      }
    }
  }
}
.bg-content-radius {
  background-color: $colorWhite;
  border-radius: 8px;
}
.more-publications {
  display: block;
  width: 250px;
  height: 50px;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 125px);
  background: $Active;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  z-index: 5;
  span {
    position: absolute;
    top: 14px;
    left: 80px;
    @include linkRegular(14px, 16.5px);
    color: $colorWhite;
  }
}
.short-block-mob {
  overflow: hidden;
}
// End article

// Article publications (page: publications)
.btn-publications {
  width: 260px;
  height: 40px;
  border-radius: 12px;
  background-color: $SeparatorGrey;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-around;
  span {
    border-radius: 10px;
    width: 127px;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-transform: uppercase;
      display: block;
      @include linkMedium(18px, 21px);
      color: $Main;
    }
  }
  .activ,
  span:hover {
    background: $colorWhite;
  }
}
.bg-none {
  &:after {
    background: none;
  }
  .publications-section-secondary {
    div:nth-child(3) {
      display: none;
      @include media(">=992px") {
        display: block;
      }
    }
    div:last-child {
      display: none;
      @include media(">=992px") {
        display: block;
      }
    }
  }
}
.more-publications-secondary {
  position: static;
  display: block;
  margin: 40px auto;
  span {
    position: static;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
// End article publications (page: publications)
