.article-wrapper {
  height: 720px;
  overflow: hidden;
}

.article-publications {
  &:after {
    background: $LinearGradient;
    content: "";
    position: absolute;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 670px;
    z-index: 3;
  }
  display: flex;
  justify-content: space-between;
  .publications-section {
    max-width: 413px;
    img,
    a {
      display: block;
    }
  }
}
