// Main
.main-wrapper {
  background: $Gradinet;
  border-radius: 0px 0px 12px 12px;
  position: relative;
  &:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    background: $backgroundmischka;
    border-radius: 0px 0px 12px 12px;
    content: "";
  }
  &:after {
    position: absolute;
    bottom: -20px;
    left: 40px;
    width: calc(100% - 80px);
    background: $backgroundWhisper;
    border-radius: 0px 0px 12px 12px;
    height: 10px;
    content: "";
  }
}
.main-container-primary {
  margin-bottom: 45px;
  padding-top: 40px;
  @include media(">=992px") {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  .main-list {
    list-style: none;
    li {
      @include media(">=992px") {
        display: flex;
        justify-content: flex-end;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:last-child {
        display: none;
        @include media(">=992px") {
          display: flex;
        }
      }
    }

    a {
      @include linkBold(14px, 17px);
      color: $TextGrey;
      display: inline-block;
      padding: 10px 40px 10px 0;
      text-transform: uppercase;
      @include media(">=992px") {
        @include linkBold(42px, 50px);
        border-right: 4px solid $SeparatorGrey;
        text-align: right;
        text-transform: none;
      }
      &:hover {
        @include textSectionGradientHover;
        border-color: $backgroundAccentRed;
      }
      &.active {
        border-color: $backgroundAccentRed;
        @include textSectionGradientHover;
      }
    }
  }
  .main-info {
    @include media(">=992px") {
      padding: 0 0 0 40px;
      height: 310px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    h1 {
      @include textRegular(22px, 26px, $colorWhite);
      margin-bottom: 15px;
      @include media(">=992px") {
        @include textRegular(32px, 38px, $colorWhite);
        margin-bottom: 20px;
      }
    }
    p {
      @include textRegular(18px, 26px, $colorWhite);
      @include media(">=992px") {
        @include textRegular(21px, 30px, $colorWhite);
      }
    }
    ul {
      li {
        background: rgba(36, 163, 255, 0.2);

        width: 16px;
        height: 16px;
        border-radius: 50%;
        text-align: center;
        margin: 20px 7px 0;
        display: inline-block;
        cursor: pointer;
        &.active {
          background: $link-color;
        }
      }
    }
  }
}
.main-container-secondary {
  margin-bottom: 20px;
  @include media(">=992px") {
    margin-bottom: 40px;
  }
  .main-container-link {
    color: rgba(255, 255, 255, 0.5);
    position: relative;
  }
  .main-container-link::after {
    content: "";
    background: url("../images/sprite/sprite.svg#liink-arrow-grey") no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 3px);
    left: 68px;
  }
  h2 {
    @include textHeaderGradient(32px, 38px);
    margin-bottom: 20px;
    @include media(">=992px") {
      @include textHeaderGradient(42px, 50px);
      margin-bottom: 68px;
    }
  }
  .main-link-text {
    padding-bottom: 60px;

    @include media(">=992px") {
      padding-top: 112px;
      padding-bottom: 100px;
    }
    a {
      margin: auto;
      position: relative;
      margin-bottom: 10px;
      @include LinkActive(18px, 21px);
      height: 64px;
      padding-left: 74px;
      display: flex;
      align-items: center;
      @include media(">=992px") {
        @include LinkActive(24px, 28px);
        height: auto;
        padding-left: 0;
        margin-bottom: 15px;
      }
    }

    a:after {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      background-color: $backgroundWhite;
      border-radius: 24px;
      top: 0;
      left: 0;
      @include media(">=992px") {
        width: 92px;
        height: 92px;
        top: -112px;
      }
    }
    a:before {
      content: "";
      position: absolute;
      background-size: cover;
      width: 44px;
      height: 44px;
      top: 11px;
      left: 9px;
      z-index: 3;
      @include media(">=992px") {
        width: 64px;
        height: 64px;
        top: -100px;
        left: 14px;
      }
    }
    .iconfinder-1::before {
      background: url("../images/sprite/sprite.svg#iconfinder-1") no-repeat;
    }
    .iconfinder-2::before {
      background: url("../images/sprite/sprite.svg#iconfinder-2") no-repeat;
    }
    .iconfinder-3::before {
      background: url("../images/sprite/sprite.svg#iconfinder-3") no-repeat;
    }
    .iconfinder-4::before {
      background: url("../images/sprite/sprite.svg#iconfinder-4") no-repeat;
    }
    .iconfinder-5::before {
      background: url("../images/sprite/sprite.svg#iconfinder-5") no-repeat;
    }
    .iconfinder-6::before {
      background: url("../images/sprite/sprite.svg#iconfinder-6") no-repeat;
      top: 9px;
      @include media(">=992px") {
        top: -93px;
        left: 21px;
      }
    }
    a:hover {
      color: $ActiveHover;
    }
    p {
      @include textRegular(16px, 22px, $colorWhite);
      @include media(">=992px") {
        @include textRegular(18px, 26px, $colorWhite);
      }
    }
  }
}
// End main

// Section
.gallery-wrapper {
  margin: 40px 0 50px;
  @include media(">=992px") {
    margin: 0 60px 55px;
  }
  .splide__arrow {
    display: none;
  }
  .splide__pagination__page {
    background: $Active;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 9px;
    border: none;
  }
  .splide__pagination {
    padding: 0;
  }
  .splide__pagination__page.is-active {
    background: $ActiveActive;
  }
  .splide__pagination__page:hover {
    cursor: pointer;
  }
}
.carousel-content {
  max-width: 1320px;
  background: $BgGrey;
  border-radius: 12px;
  @include media(">=992px") {
    display: flex;
    align-items: flex-start;
  }

  img {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    @include media(">=992px") {
      flex-shrink: 1;
      border-radius: 12px 0px 0px 12px;
      width: 100%;
      height: 100%;
      position: static;
    }
  }
  .carousel-text {
    padding: 10px;
    @include media(">=992px") {
      margin: 40px 0 0 40px;
    }
    h3 {
      @include textHeaderGradient(32px, 38px);
      margin-bottom: 20px;
      @include media(">=992px") {
        @include textHeaderGradient(38px, 46px);
      }
      @include media(">=1140px") {
        @include textHeaderGradient(42px, 50px);
      }
    }
    p {
      margin-bottom: 5px;
      @include textRegular(18px, 21px, $TextGrey);
      padding-left: 80px;
      @include media(">=992px") {
        padding-left: 0px;
      }
    }
    span {
      display: block;
      padding-left: 80px;
      padding-bottom: 5px;
      @include textRegular(16px, 22px, $TextGrey);
      @include media(">=992px") {
        padding-left: 0px;
      }
    }
  }
}
.section-successful-cases {
  margin: 0 10px 36px;
  @include media(">=992px") {
    margin: 0 0 36px;
  }

  .section-text {
    background: $BgGrey;
    border-radius: 12px;

    div {
      // border: 1px solid $colorWhite;
      @include media(">=992px") {
        // align-self: stretch;
      }
      .section-link {
        a {
          padding-top: 20px;
          text-transform: uppercase;
          display: inline-block;
          @include linkBold(14px, 17px);
          color: $AccentRed;
          margin-bottom: 68px;
          @include media(">=992px") {
            margin-bottom: 68px;
          }
        }
      }
      p {
        @include textRegular(18px, 21px, $MainSoft);
        margin-bottom: 10px;
        @include media(">=992px") {
          @include textRegular(24px, 28px, $MainSoft);
          margin-bottom: 20px;
        }
      }
      span {
        display: inline-block;
        @include linkRegular(18px, 26px);
        color: $TextGrey;
        margin-bottom: 41px;
        @include media(">=992px") {
          margin-bottom: 40px;
        }
      }
    }
  }
}
// End section

// Clients
.clients-wrapper {
  .client-head {
    height: 50px;
  }
  h3 {
    @include textBold(14px, 17px, $Main);
    text-transform: uppercase;
  }
  .img-client {
    width: 100%;
    height: 100%;
  }
}
// End clients

// Article
.article-wrapper {
  padding-top: 40px;
  background: $BgGrey;
  position: relative;
  margin: auto;

  h3 {
    background: $colorWhite;
    @include textHeaderGradient(32px, 38px);
    margin-bottom: 40px;
    @include media(">=992px") {
      @include textHeaderGradient(42px, 50px);
    }
  }
}
.publications-link {
  display: inline-block;
  @include linkBold(14px, 17px);
  letter-spacing: 1px;
  color: $Active;
  position: relative;
  text-transform: uppercase;
  &::after {
    background: url("../images/sprite/sprite.svg#liink-arrow");
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    right: -13px;
  }
}
.publications-link:hover {
  color: $ActiveHover;
}

.bg-bottom-article-wrapper {
  &:after {
    @include media(">=992px") {
      background: $LinearGradient;
      content: "";
      position: absolute;
      height: 200px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 3;
    }
  }
}
.publications-wrapper {
  overflow: hidden;
  max-width: 1320px;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(">=992px") {
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    max-height: 720px;
  }
}
.publications-section {
  max-width: 414px;
  @include media(">=992px") {
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
  .not-show-mobile {
    display: none;
    @include media(">=992px") {
      display: block;
    }
  }
  .publications-content {
    width: 100%;
    @include media(">=992px") {
      margin-bottom: 40px;
      max-width: 414px;
    }
    .bg-publications {
      background-color: $colorWhite;
      border-radius: 8px;
    }
  }
  img {
    padding: 0;
    display: block;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  a {
    padding-top: 20px;
    display: block;
    @include LinkActive(18px, 21px);
    margin: 0 20px 10px;
    text-align: left;
  }
  a:hover {
    color: $ActiveHover;
  }
  time {
    margin: 0 20px 20px;
    display: block;
    @include textRegular(12px, 14px, $TextGrey);
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .publications-text {
    display: none;
    @include media(">=992px") {
      display: block;
      padding-top: 20px;
      border-top: 4px solid $SeparatorGrey;
      margin: 0 20px;
    }
    .external-reference {
      display: inline;
      @include textRegular(16px, 22px, $colorBlack);
    }
    .external-reference:hover {
      color: $ActiveHover;
    }
  }
}
.btn-more-publications {
  padding-bottom: 40px;
  .more-publications {
    display: flex;
    width: 250px;
    height: 50px;
    background: $Active;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    @include linkRegular(14px, 16.5px);
    color: $colorWhite;
    margin: auto;
    justify-content: center;
    align-items: center;
    @include media(">=992px") {
      position: absolute;
      bottom: 40px;
      left: calc(50% - 125px);
      z-index: 5;
    }
  }
}
// End article

// Article publications (page: publications)
.page-publications-wrapper {
  max-height: 100%;
  .page-publications-section {
    .page-publications-content:nth-child(3),
    .page-publications-content:last-child {
      display: none;
      @include media(">=992px") {
        display: block;
      }
    }
  }
}
.btn-publications {
  width: 260px;
  height: 40px;
  border-radius: 12px;
  background-color: $SeparatorGrey;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-around;
  span {
    border-radius: 10px;
    width: 127px;
    height: 36px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-transform: uppercase;
      display: block;
      @include linkMedium(18px, 21px);
      color: $Main;
    }
  }
  .activ,
  span:hover {
    background: $colorWhite;
  }
}
.page-publications-content {
  p {
    display: none;
    @include media(">=992px") {
      display: block;
      padding-top: 20px;
      border-top: 4px solid $SeparatorGrey;
      margin: 0 20px;
    }
    .external-reference {
      display: inline;
      @include textRegular(16px, 22px, $colorBlack);
    }
    .external-reference:hover {
      color: $ActiveHover;
    }
  }
}
.btn-more-publications {
  .more-page-publications {
    @include media(">=992px") {
      position: static;
    }
  }
}
// End article publications (page: publications)

// Publication entry (page: publications entry)
.publications-entry-section {
  max-width: 1320px;
  margin: auto;
  .publications-entry-content {
    padding: 0 20px;
    h1 {
      display: block;
      @include textRegular(32px, 38px, $Main);
      margin: 20px 0 10px;
      text-align: left;
      @include media(">=992px") {
        margin: 40px 0 10px;
      }
    }
    time {
      margin: 0 0 20px;
      @include media(">=992px") {
        margin: 0 0 40px;
      }
    }
    p {
      @include textRegular(18px, 26px, $colorBlack);
      padding-bottom: 20px;
      @include media(">=992px") {
        padding-bottom: 40px;
      }
    }
    .publications-text {
      border-top: 4px solid $SeparatorGrey;
      display: block;
      margin: 0;
      padding-top: 20px;
      @include media(">=992px") {
        padding-top: 40px;
      }
    }
    strong {
      display: block;
      margin-bottom: 18px;
      @include textMedium(24px, 28px, $MainAlt);
    }
    ol {
      margin: 18px 0 10px;
      @include media(">=992px") {
        margin-bottom: 15px;
      }
      li {
        @include textRegular(18px, 26px, $AccentRed);
        padding-bottom: 10px;
        p {
          margin: 0;
          padding: 0;
          color: $colorBlack;
        }
      }
    }
  }
  h2 {
    padding-left: 20px;
    margin-bottom: 40px;
    @include textHeaderGradient(32px, 38px);
    @include media(">=992px") {
      padding-left: 0;
      @include textHeaderGradient(42px, 50px);
    }
  }
}
.block-for-advertising {
  span {
    display: block;
    @include textRegular(16px, 22px, $TextGrey);
    text-align: center;
    margin: 15px 0 20px;
    @include media(">=992px") {
      margin: 10px 0 40px;
    }
  }
}
.publications-entry-ico {
  border-top: 4px solid $SeparatorGrey;
  display: flex;
  padding-top: 20px;
  margin: 0 20px 40px;

  justify-content: center;
  @include media(">=992px") {
    margin-bottom: 60px;
    justify-content: flex-start;
  }
  a {
    width: 42px;
    height: 42px;
    background: $BgGrey;
    border-radius: 12px;
    position: relative;
    margin: 0 10px 0 0;

    span {
      width: 24px;
      height: 24px;
      display: block;
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
    }
    .facebook-entry {
      background: url("../images/sprite/sprite.svg#facebook-entry") no-repeat;
    }
    .twitter-entry {
      background: url("../images/sprite/sprite.svg#twitter-entry") no-repeat;
    }
    .linkedin-entry {
      background: url("../images/sprite/sprite.svg#linkedin-entry") no-repeat;
    }
  }
}
// End publication entry (page: publications entry)

// Article team (page: Team)
.team-wrapper {
  h1 {
    @include textHeaderGradient(32px, 38px);
    margin-bottom: 20px;
    @include media(">=992px") {
      @include textHeaderGradient(42px, 50px);
      margin-bottom: 80px;
    }
  }
}
.team-main-content {
  margin-bottom: 40px;
  @include media(">=992px") {
    margin-bottom: 20px;
  }
  .team-content {
    display: flex;
    @include media(">=992px") {
      display: block;
    }
  }
  .img-team-content {
    margin-bottom: 20px;
    @include media(">=992px") {
    }
    img {
      border-radius: 12px;
      display: block;
      width: 158px;
      height: 191px;
      @include media(">=992px") {
        width: 100%;
        height: 100%;
      }
    }
  }
  .text-team-content {
    margin: 0 0 20px 20px;
    @include media(">=768px") {
      margin: 0 0 20px 10px;
    }
    @include media(">=992px") {
      margin: 0 0 40px 0;
      position: relative;
    }
    p {
      @include textRegular(18px, 21px, $Main);
      margin-bottom: 5px;
    }
    span {
      display: inline-block;
      @include textRegular(16px, 22px, $TextGrey);
      margin-bottom: 10px;
      @include media(">=992px") {
        margin-bottom: 0;
      }
    }
    a {
      display: block;
      background: $BgGrey;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: relative;
      @include media(">=992px") {
        position: absolute;
        top: 6px;
        right: 0;
      }
      &::before {
        background: url("../images/sprite/sprite.svg#vector-arrow-team")
          no-repeat;
        background-size: cover;
        height: 14px;
        width: 14px;
        content: "";
        position: absolute;
        top: 9px;
        right: 8px;
      }
    }
  }
}
// End article team (page: Team)

// Article team (page: Contact)
.main-contact {
  margin: 40px auto;
  @include media(">=992px") {
    margin: 80px auto;
  }
  .main-contact-text {
    margin-bottom: 40px;
    @include media(">=992px") {
      margin-bottom: 0;
    }
    .contact-text {
      border-bottom: 4px solid $SeparatorGrey;
      padding-bottom: 20px;
      p {
        @include textRegular(21px, 30px, $Main);
      }
      a {
        display: block;
        margin-bottom: 20px;
        @include linkRegular(21px, 30px);
        &:first-child {
          margin-top: 40px;
          @include textRegular(21px, 30px, $MainAlt);
        }
      }
    }
    .contact-facebook {
      a {
        max-width: 171px;
        text-transform: uppercase;
        display: inline-block;
        margin: 20px 0 0;
        padding-left: 48px;
        @include linkRegular(12px, 16px);
        position: relative;
        &::before {
          background: url("../images/sprite/sprite.svg#facebook-footer")
            no-repeat;
          content: "";
          width: 38px;
          height: 38px;
          position: absolute;
          top: -5px;
          left: 0;
        }
      }
    }
  }
}
.bg-forms {
  background: $BgGrey;
  @include media(">=992px") {
    border-radius: 12px;
  }
  h1 {
    margin: 20px 0;
    @include textHeaderGradient(22px, 26px);
    @include media(">=992px") {
      @include textHeaderGradient(32px, 38px);
    }
  }
}
.contact-form {
  .text-input,
  .texterea-input,
  .tel-input,
  .email-input {
    border-radius: 8px;
    width: 100%;
    height: 47px;
    background: $colorWhite;
    border: none;
    margin-bottom: 20px;
    padding: 0 10px;
    &:focus {
      outline: none;
      border: none;
    }
    &::placeholder {
      @include textRegular(18px, 26px, $TextGrey);
    }
  }
  .texterea-input {
    height: 180px;
    padding: 10px;
  }
  .contact-text-form {
    @include textRegular(14px, 17px, $TextGrey);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .submit-input {
    width: 250px;
    height: 50px;
    background: $Active;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border: none;
    color: $colorWhite;
    border-radius: 12px;
    margin-bottom: 20px;
    &:hover {
      background-color: $ActiveHover;
    }
  }
}
.contact-map {
  iframe {
    width: 100%;
    height: 600px;
  }
}
// End article team (page: Contact)
