@font-face {
  font-family: "ttnorms-bold";
  src: url("../fonts/TTNorms-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ttnorms-medium";
  src: url("../fonts/TTNorms-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ttnorms-regular";
  src: url("../fonts/TTNorms-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Header

.header-wrapper {
  height: 100vh;
  width: 100%;
  background: $GradientSoft;
  overflow: hidden;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 3;
    background: $GradientHeaderBottom;
  }
  min-height: 640px;
  @include media(">=992px") {
    min-height: 800px;
  }
}
.header-navbar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  max-width: 1320px;
  min-height: 65px;
  @include media(">=992px") {
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
  }
}
.header-navbar-secondary {
  margin-bottom: 20px;
  @include media(">=992px") {
    margin-bottom: 58px;
  }
}
.logo-header {
  .logo {
    display: block;
    background: url("../images/svg/logo-white.svg") no-repeat;
    background-size: cover;
    height: 31px;
    width: 77.5px;
    @include media(">=992px") {
      height: 62px;
      width: 155px;
    }
  }
  .logo-black-subsection {
    display: block;
    background: url("../images/svg/logo-black-subsection-mobile.svg") no-repeat;
    width: 222px;
    height: 31px;
    @include media(">=1170px") {
      background: url("../images/svg/logo-black-subsection.svg") no-repeat;
      background-size: cover;
      width: 444px;
      height: 63px;
    }
  }
}
.header-nav {
  .header-list {
    display: flex;
    justify-content: space-between;
    .language-list {
      li {
        display: inline-block;
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        a {
          position: relative;
          z-index: 2;
          color: $colorWhite;
          letter-spacing: 1px;
          @include linkRegular(12px, 14px);
        }
      }
      a:after {
        background: $backgroundAccentRed;
        border-radius: 8px;
        width: 29px;
        height: 24px;
        content: "";
        position: absolute;
        top: -5px;
        left: -6px;
        z-index: -1;
        display: none;
      }
      a.activ:after {
        display: inline-block;
      }
    }
    li:hover > a::after {
      display: inline-block;
    }
    .language-list-secondary {
      li {
        a {
          color: $TextGrey;
          font-weight: bold;
        }
        a.activ {
          color: $colorWhite;
        }
        a:hover {
          color: $colorWhite;
        }
      }
    }
  }
  .header-contact {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    li {
      margin: 0;
      color: $colorWhite;
      @include media(">=992px") {
        margin: 0 20px;
      }
      &:first-child {
        display: none;
        @include media(">=992px") {
          display: block;
        }
      }
      &:nth-child(2) {
        list-style-type: none;
        @include media(">=992px") {
          list-style-type: disc;
        }
      }
      &:last-child {
        display: none;
        @include media(">=992px") {
          display: block;
        }
        a {
          display: block;
          background: url("../images/svg/facebook-header.svg") no-repeat;
          width: 24px;
          height: 24px;
        }
      }
      a {
        @include linkRegular(16px, 19px);
        color: $colorWhite;
      }
      a:hover {
        color: $AccentRed;
      }
    }
  }
  .header-contact-secondary {
    li {
      a {
        color: $TextGrey;
      }
      &:last-child {
        a {
          display: block;
          background: url("../images/svg/facebook-header-grey.svg") no-repeat;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
// Burger menu
.nav-list {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header-nav-list {
    transform: none;
  }
  input[type="checkbox"]:checked + .burger {
    span:first-child {
      transform: rotate(135deg);
      top: 21px;
    }
    span:nth-child(2) {
      display: none;
    }
    span:last-child {
      transform: rotate(-135deg);
      top: 21px;
    }
  }
  .burger {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 63px;
    right: 12px;
    z-index: 10;
    span {
      transition: all 1s ease-in-out;
      position: absolute;
      left: 7px;
      height: 2px;
      width: 18px;
      background-color: $backgroundWhite;
      &:first-child {
        top: 6px;
      }
      &:nth-child(2) {
        top: 14px;
      }
      &:last-child {
        top: 22px;
      }
    }
    @include media(">=992px") {
      display: none;
    }
    &.burger-secondary {
      span {
        background-color: $Main;
      }
    }
  }
  .burger:hover {
    cursor: pointer;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.95);
    transform: translate(0, -100%);
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    @include media(">=992px") {
      position: static;
      flex-direction: row;
      align-items: flex-end;
      height: auto;
      background: none;
      transform: none;
      transition: none;
      justify-content: flex-end;
      max-width: 1170px;
      margin: auto;
    }
    li {
      list-style-type: none;
      margin: 20px 0;
      @include media(">=992px") {
        margin: 0 20px;
      }

      a {
        display: block;
        color: $colorWhite;
        @include linkBold(28px, 30px);

        @include media(">=992px") {
          @include linkRegular(18px, 21px);
        }

        &.activ {
          color: $AccentRed;
          border-bottom: 2px solid $AccentRed;
          padding-bottom: 1px;
        }
      }
      a:hover {
        color: $AccentRed;
      }
    }
    &.publications-nav-last {
      a {
        color: $colorWhite;
        @include media(">=992px") {
          color: $Active;
        }
      }
    }
  }
}
.bg-header-wrapper {
  height: calc(100vh - 65px);
}
.bg-header {
  .bg-text {
    height: 644px;
    display: flex;
    align-items: center;
    @include media(">=992px") {
      background: url("../images/svg/frame-2.svg") no-repeat;
      width: 689px;
    }
    &::before {
      background: url("../images/svg/symbol-long-leg.svg") no-repeat;
      background-size: cover;
      width: 430px;
      height: 688px;
      content: "";
      position: absolute;
      top: calc(50% - 150px);
      left: calc(50% - 273px);
      @include media(">=992px") {
        top: calc(50% - 165px);
        left: calc(50% - 300px);
      }
    }
    span {
      @include textRegular(38px, 45px, $colorWhite);
      position: absolute;
      z-index: 4;
      text-align: center;
      width: 300px;
      height: 135px;
      top: calc(50% - 110px);
      left: calc(50% - 150px);
      @include media(">=992px") {
        width: 600px;
        height: 90px;
        top: calc(50% - 90px);
        left: calc(50% - 300px);
      }
    }
  }
  a {
    background: url("../images/sprite/sprite.svg#scroll-down") no-repeat;
    position: absolute;
    width: 42px;
    height: 42px;
    left: calc(50% - 42px / 2);
    bottom: 20px;
    z-index: 4;
  }
}
// End header

//Footer
.footer-wpapper {
  color: $TextGrey;
  min-height: 151px;
  background: $BgGrey;
}
.footer-contact {
  border-top: 4px solid $SeparatorGrey;
  padding: 32px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media(">=992px") {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  ul {
    padding: 0;
    height: 100%;
    @include media(">=992px") {
      display: flex;
    }
    .footer-text {
      @include textFooterBolt(16px, 19px);
    }
    li {
      margin-bottom: 20px;
      margin-right: 0px;
      list-style-type: none;

      @include media(">=992px") {
        margin-right: 40px;
        margin-bottom: 0px;
        list-style-type: disc;
      }
      a {
        display: block;
        color: $Active;
      }
      a:hover {
        color: $ActiveHover;
      }
      .facebook-footer {
        background: url("../images/sprite/sprite.svg#facebook-footer") no-repeat;
        width: 38px;
        height: 38px;
        margin: auto;
      }
      .footer-company {
        text-align: center;
        @include media(">=992px") {
          text-align: end;
        }
      }
      &:first-child {
        list-style-type: none;
        @include textFooterBolt(16px, 19px);
      }

      &:nth-child(3) {
        @include linkBold(16px, 19px);
      }
      .footer-text-map {
        @include linkBold(12px, 14px);
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
      }
    }
  }
}

// End footer
