//Color
$colorLinkWhite: #ffffff;

$Main: #323264;
$MainAlt: #46466e;
$MainSoft: #686887;
$colorWhite: #ffffff;
$colorBlack: #000000;

$AccentRed: #f0145a;
$Active: #24a3ff;
$ActiveHover: #0085ff;
$ActiveActive: #006ccf;

$backgroundWhite: #ffffff;
$BgGrey: #f5f5fa;
$BgGreyAlt: #ededf7;
$TextGrey: #b3b3ba;
$SeparatorGrey: #e6e6f0;
$backgroundActive: #24a3ff;

$backgroundAccentRed: #f0145a;
$backgroundmischka: #cacadb;
$backgroundWhisper: #e7e7f2;
